.movie-card {
  .bi-heart {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.card img {
  max-height: 200px;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

