@import "../../index";

.row {
  .col {
    margin-bottom: 20px;
    .card {
      border: 1px solid #eee;
      transition: box-shadow 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
      .card-img-top {
        max-height: 300px;
        object-fit: cover;
      }
      .card-title {
        font-weight: 600;
        margin-top: 10px;
      }
      .btn-primary {
        background-color: $color-primary;
        border: none;
        &:hover {
          background-color: lighten($color-primary, 10%);
        }
      }
    }
  }
}
